<%= form_for @ville do |f| %>
  <% if @ville.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@ville.errors.count, "error") %> prohibited
      this ville from being saved:</h2>
    <ul>
    <% @ville.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :nom %><br>
    <%= f.text_field :nom, class: "form-control" %>
  </p>
 
  <p>
    <%= f.label :departement %><br>
    <% filtre = Ville.find(:all, :select => ("DISTINCT(departement), *").order("departement")) %> <!-- filtrage pour ne pas avoir tous les départements dupliqués mais seulement une entree par département %> -->
    <%= f.collection_select :departement, filtre, :departement, :departement,  {:prompt => true}, class: "form-control" %>
    
  </p>
 
  <p>
    <%= f.submit class: "btn btn-primary" %>
  </p>
<% end %>
