<h1>Listing villes</h1>

<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Choix département <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% @display = Ville.find(:all, :group => "departement")  %>
           <% @display.each do |ville| %>
           <% @departmt =  ville.departement %>
             <li><%= link_to @departmt, villes_path %></li>
        
           <% end %>
           
          <li><%= link_to "Gard", villes_path %></li>

  </ul>
</div>

 <%= @display[0].departement %>

<table class="table table-hover table-responsive">
  <tr>
    <th>Nom</th>
    <th>Département</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% detpt = Ville.where(departement: @departmt) %>
  <% detpt.each do |ville| %>
    <tr>
      <td><%= ville.nom %></td>
      <td><%= ville.departement %></td>
      <td><%= link_to 'Show', ville %></td>
      <td><%= link_to 'Edit', edit_ville_path(ville) %></td>
      <td><%= link_to 'Destroy', ville_path(ville),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>


  <% end %>
</table>




 
<table class="table table-hover table-responsive">
  <tr>
    <th>Nom</th>
    <th>Département</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @villes.order("nom ASC").each do |ville| %>
    <tr>
      <td><%= ville.nom %></td>
      <td><%= ville.departement %></td>
      <td><%= link_to 'Show', ville %></td>
      <td><%= link_to 'Infographie', infographie_path(ville) %></td>

      <td><%= link_to 'Edit', edit_ville_path(ville) %></td>
      <td><%= link_to 'Destroy', ville_path(ville),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>


  <% end %>
</table>

<%= link_to 'Nouvelle ville', new_ville_path %>