<h1>Liste de toutes les villes</h1>

<table class="table table-hover table-responsive">
  <tr>
    <th>Nom</th>
    <th>Département</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @villes.order("nom ASC").each do |ville| %>
    <tr>
      <td><%= ville.nom %></td>
      <td><%= ville.departement %></td>
      <td><%= link_to 'Voir', ville %></td>
      <td><%= link_to 'Infographie', infographie_path(ville) %></td>
      <td><%= link_to 'Modifier', edit_ville_path(ville) %></td>
      <td><%= link_to 'Detruire', ville_path(ville),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>


  <% end %>
</table>

<%= link_to 'Nouvelle ville', new_ville_path %>