<% content_for :head do %>
<%= stylesheet_link_tag 'display' %>
<% end %>


<h1 class = 'results'>RESULTATS - 1er TOUR</h1>

<h2 class = 'city'><%= @ville.nom %></h2>
<h3 class = 'district'><%= @ville.departement %></h3>

<table id ="table_candidats">

  <tbody id = 'table_body'>
  <% @ville.candidats.each do |c| %>
      <tr class ='tabletr'>
        <td class = 'tableprenom'><%= c.prenom %></td>
        <td></td>
        <td class ='tablenom'><%= c.nom.upcase %></td>
        <td>(<%= c.parti %>)</td>
        <td class ='tablevoix'><%= c.voix %> %</td>
        <td><% if c.elu == false %></td> 
        <td><%=  "pas elu" %></td>
        <% else %>
        <td class = 'tableelu'><%= "elu" %></td>
        <% end %>




      </tr>
    <% end %>
  </tbody>
</table>
</div>


